@charset "UTF-8";
.main-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
}

.widget-redirect {
  text-align: center;
  font-size: 20px;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.widget-redirect:hover {
  color: #6837E7;
}

.widget-redirect + .widget-redirect {
  margin-top: 30px;
}