.messenger {
    margin: 0 auto;
    max-width: 390px;
    max-height: 664px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 21px 29px;
    border: 0.6px solid rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
  }
  
  .messenger__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 18px;
  }
  
  .messenger__head-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .messenger__title {
    font-weight: 500;
    font-size: 17px;
    line-height: 135%;
    margin-bottom: 4px;
  }
  
  .messenger__subtitle {
    color: #5C5F62;
  }
  
  .messenger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 18px;
  }
  
  .menu-btn {
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: transparent;
  }
  
  .menu-btn span {
    width: 4px;
    height: 4px;
    background-color: #5C5F62;
    border-radius: 50%;
  }
  
  .messenger__create-conv-btn {
    margin-bottom: 18px;
    border-radius: 6px;
    background-color: #EEE9FD;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }
  
  .messenger__create-conv-btn span {
    display: inline-block;
    margin: 0 auto;
    font-weight: 500;
    color: #6F47EB;
    padding: 9px 9px 9px 19px;
    position: relative;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
  }
  
  .messenger__create-conv-btn span::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 4px;
    background-color: #6F47EB;
    height: 10px;
    width: 2px;
    border-radius: 3px;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }
  
  .messenger__create-conv-btn span::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    background-color: #6F47EB;
    height: 2px;
    width: 10px;
    border-radius: 3px;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }
  
  .messenger__create-conv-btn:hover {
    background-color: #6F47EB;
  }
  
  .messenger__create-conv-btn:hover span {
    color: #EEE9FD;
  }
  
  .messenger__create-conv-btn:hover span:before,
  .messenger__create-conv-btn:hover span:after {
    background-color: #EEE9FD;
  }
  
  .messenger__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .chat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F5F5F5;
    border-radius: 8px;
    padding: 14px;
    position: relative;
    cursor: pointer;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }
  
  .chat + .chat {
    margin-top: 12px;
  }
  
  .chat__image img {
    border-radius: 50%;
  }
  
  .chat__preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 25px;
  }
  
  .chat__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .chat__name {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: #050708;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
  }
  
  .chat__last-seen {
    font-size: 13px;
    line-height: 172%;
    color: #5C5F62;
    padding-left: 20px;
    position: relative;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
  }
  
  .chat__last-seen::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 9px;
    width: 4px;
    height: 4px;
    background-color: #5C5F62;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }
  
  .chat__message {
    color: #5C5F62;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
  }
  
  .chat__unread-amount {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 14px;
    color: #FEFEFF;
    background-color: #794CED;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s linear, color 0.3s linear;
    -o-transition: background-color 0.3s linear, color 0.3s linear;
    transition: background-color 0.3s linear, color 0.3s linear;
  }
  
  .chat:hover {
    background-color: #794CED;
  }
  
  .chat:hover .chat__last-seen::before {
    background-color: #F5F5F5;
  }
  
  .chat:hover .chat__name,
  .chat:hover .chat__last-seen,
  .chat:hover .chat__message {
    color: #F5F5F5;
  }
  
  .chat:hover .chat__unread-amount {
    color: #794CED;
    background-color: #FEFEFF;
  }