/* Menu button */

.menu-btn {
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: transparent;
  }
  
  .menu-btn span {
    width: 4px;
    height: 4px;
    background-color: #5C5F62;
    border-radius: 50%;
  }
  /*-----------------*/