@charset "UTF-8";
body {
    height: 100%;
    font-size: 100%;
    line-height: 143%;
    letter-spacing: -0.01em;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #000;
  }
  
  body a {
    color: #000;
  }
  
  .main {
    margin-top: 40px;
  }
  
  .main-page-link {
    position: absolute;
    top: 10px;
    left: 10px;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
  }
  
  .main-page-link:hover {
    color: #6837E7;
  }