<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notifications</title> 
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <main class="main">
        <a  class="main-page-link" href="../index.html">Return to main page</a>
        <section class="notifications">
            <div class="notifications__head">
                <h1 class="notifications__title">Notifications</h1>
                <p class="notifications__subtitle">You can find all settings here.</p>
            </div>
            <ul class="notifications__list">
                <li class="notifications__item notification">
                    <div class="notification__icon">
                        <img src="../assets/img/completed-ico.png" alt="">
                    </div>
                    <div class="notification__inner">
                        <div class="notification__info">
                            <p class="notification__title">Team Task Completed</p>
                            <p class="notification__descr">Johnson complete <a class="notification__link" href="#">Development team’s</a> all tasks</p>
                        </div>
                        <p class="notification__added-time">Just now</p>
                    </div>
                </li>
                <li class="notifications__item notification">
                    <div class="notification__icon">
                        <img src="../assets/img/request-ico.png" alt="">
                    </div>
                    <div class="notification__inner">
                        <div class="notification__info">
                            <p class="notification__title">Join Request</p>
                            <p class="notification__descr">Willamson requested to join in <a class="notification__link" href="#">Design team</a></p>
                        </div>
                        <p class="notification__added-time">2hrs ago</p>
                    </div>
                    
                </li>
                <li class="notifications__item notification">
                    <div class="notification__icon">
                        <img src="../assets/img/accepted-team-ico.png" alt="">
                    </div>
                    <div class="notification__inner">
                        <div class="notification__info">
                            <p class="notification__title">Accepted Team Request</p>
                            <p class="notification__descr">Olivia accepted <a class="notification__link" href="#">UI/UX Team’s</a> request</p>
                        </div>
                        <p class="notification__added-time">a day ago</p>
                    </div>
                </li>
                <li class="notifications__item notification">
                    <div class="notification__icon">
                        <img src="../assets/img/report-ico.png" alt="">
                    </div>
                    <div class="notification__inner">
                        <div class="notification__info">
                            <p class="notification__title">Your Monthly Report </p>
                            <p class="notification__descr">We have shared your monthly activities report in PDF format</p>
                        </div>
                        <p class="notification__added-time">2days ago</p>
                    </div>
                </li>
                <li class="notifications__item notification">
                    <div class="notification__icon">
                        <img src="../assets/img/mentioned-ico.png" alt="">
                    </div>
                    <div class="notification__inner">
                        <div class="notification__info">
                            <p class="notification__title">Mentioned in Task</p>
                            <p class="notification__descr">Elizabeth mentioned you in <a class="notification__link" href="#">Samantha’s</a> sub task</p>
                        </div>
                        <p class="notification__added-time">a week ago</p>
                    </div>
                </li>
                <li class="notifications__item notification">
                    <div class="notification__icon">
                        <img src="../assets/img/completed-ico.png" alt="">
                    </div>
                    <div class="notification__inner">
                        <div class="notification__info">
                            <p class="notification__title">Team Task Completed</p>
                            <p class="notification__descr">You completed <a class="notification__link" href="#">Marketing team’s</a> task</p>
                        </div>
                        <p class="notification__added-time">3weeks ago</p>
                    </div>
                </li>
                <li class="notifications__item notification">
                    <div class="notification__icon">
                        <img src="../assets/img/report-ico.png" alt="">
                    </div>
                    <div class="notification__inner">
                        <div class="notification__info">
                            <p class="notification__title">Your Weekly Report</p>
                            <p class="notification__descr">Johnson complete <a class="notification__link" href="#">Development team’s</a> all tasks</p>
                        </div>
                        <p class="notification__added-time">a month ago</p>
                    </div>
                </li>
                <li class="notifications__item notification">
                    <div class="notification__icon">
                        <img src="../assets/img/mentioned-ico.png" alt="">
                    </div>
                    <div class="notification__inner">
                        <div class="notification__info">
                            <p class="notification__title">Mentioned in Team</p>
                            <p class="notification__descr">Ryan mentioned you in <a class="notification__link" href="#">Design team’s</a> sub task</p>
                        </div>
                        <p class="notification__added-time">4months ago</p>
                    </div>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>