@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

:root {
  --dark-color: #2B2B2B;
  --dark-grey-color: #3B3B3B;
  --grey-color: #858584;
  --light-grey-color: #CCCCCC;
  --white-color: #FFFFFF;
  --purple-color: #A259FF;
  --main-font: "Work Sans", sans-serif;
  --secondary-font: "Space Mono", monospace;
  --color-transition: color 0.3s linear;
  --bg-transition: background-color 0.3s linear;
  --border-transition: border-color 0.3s linear;
  --fill-transition: fill 0.3s linear;
  --stroke-transition: stroke 0.3s linear;
  --transform-transition: transform 0.2s linear;
  --filter-transition: filter 0.3s linear;
  --opacity-visiblity-transition: opacity 0.2s linear, visibility 0.2s linear;
}

body {
  height: 100%;
  font-size: 100%;
  line-height: 140%;
  letter-spacing: -0.01em;
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--white-color);
  background-color: var(--dark-color);
  text-transform: capitalize;
}

body a {
  color: var(--white-color);
}

.wrapper {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  padding: 20px 50px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: var(--bg-transition), var(--color-transition), var(--border-transition);
  -o-transition: var(--bg-transition), var(--color-transition), var(--border-transition);
  transition: var(--bg-transition), var(--color-transition), var(--border-transition);
}

.btn-text {
  -webkit-transition: var(--color-transition);
  -o-transition: var(--color-transition);
  transition: var(--color-transition);
}

.btn-svg {
  margin-right: 12px;
}

.btn-svg path {
  -webkit-transition: var(--fill-transition);
  -o-transition: var(--fill-transition);
  transition: var(--fill-transition);
}

.purple-btn {
  color: var(--white-color);
  background-color: var(--purple-color);
  border: 2px solid var(--purple-color);
}

.purple-btn:hover {
  background-color: var(--white-color);
  color: #2B2B2B;
  border-color: var(--white-color);
}

.purple-btn:hover .purple-btn__svg path {
  fill: #2B2B2B;
}

.dark-purple-btn {
  color: var(--white-color);
  background-color: #2B2B2B;
  border: 2px solid var(--purple-color);
  -webkit-transition: var(--bg-transition);
  -o-transition: var(--bg-transition);
  transition: var(--bg-transition);
}

.dark-purple-btn__svg path {
  -webkit-transition: var(--fill-transition);
  -o-transition: var(--fill-transition);
  transition: var(--fill-transition);
}

.dark-purple-btn:hover {
  background-color: var(--purple-color);
}

.dark-purple-btn:hover .dark-purple-btn__svg path {
  fill: var(--white-color);
}

.white-btn {
  background-color: var(--white-color);
  color: var(--dark-color);
}

.white-btn:hover {
  background-color: var(--dark-color);
}

.white-btn:hover .white-btn__text {
  color: var(--white-color);
}

.white-link {
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.white-link:hover {
  color: var(--purple-color);
}

.logo {
  position: relative;
  padding-left: 44px;
}

.logo::before {
  content: url(../img/nft-logo.svg);
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }

  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }

  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.logo:hover::before {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.light-grey {
  color: var(--light-grey-color);
}

.small-fz {
  font-size: 16px;
}

.ff-spacemono {
  font-family: "Space Mono", monospace;
}

.fw-600 {
  font-weight: 600;
}

.title-fz {
  font-size: 38px;
  line-height: 120%;
}

.section-padding {
  padding: 80px 0;
}

.def-column-gap {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.def-row-gap {
  row-gap: 30px;
}

.underline-animation {
  position: relative;
}

.underline-animation::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  background-color: var(--white-color);
  -webkit-transition: var(--transform-transition);
  -o-transition: var(--transform-transition);
  transition: var(--transform-transition);
}

.underline-animation:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.avatar-ico-gap {
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.subscribe-input-wrapper {
  position: relative;
}

.subscribe-form-input {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 22px 191px 22px 20px;
}

.subscribe-form-input::-webkit-input-placeholder {
  color: var(--dark-color);
}

.subscribe-form-input::-moz-placeholder {
  color: var(--dark-color);
}

.subscribe-form-input:-ms-input-placeholder {
  color: var(--dark-color);
}

.subscribe-form-input::-ms-input-placeholder {
  color: var(--dark-color);
}

.subscribe-form-input::placeholder {
  color: var(--dark-color);
}

.subscribe-form-btn {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 179px;
}

.subscribe-form-btn:hover {
  background-color: var(--dark-grey-color);
  border-color: var(--white-color);
  color: var(--white-color);
}

.undone {
  display: none !important;
}

.header__wrapper {
  margin: 20px 0;
}

.header__logo-text {
  padding-left: 12px;
}

.header__logo:hover .header__logo-img {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.header__nav-btn {
  margin-left: 25px;
  height: 50px;
  width: 50px;
  background-color: transparent;
}

.header__nav-btn span {
  height: 3px;
  width: 100%;
  background-color: var(--white-color);
}

.nav-list {
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.header__signup {
  margin-left: 30px;
  width: 156px;
  padding: 20px 30px;
}

.footer {
  padding: 40px 0;
  background-color: var(--dark-grey-color);
}

.footer__inner {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--grey-color);
}

.footer__logo {
  margin-bottom: 25px;
}

.footer__col {
  max-width: 420px;
  width: 100%;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.footer__text {
  max-width: 238px;
  text-transform: none;
}

.footer__text + .footer__text {
  margin-top: 20px;
}

.footer__community-links {
  margin-top: 15px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.footer__community-link-img path {
  -webkit-transition: var(--fill-transition), var(--stroke-transition);
  -o-transition: var(--fill-transition), var(--stroke-transition);
  transition: var(--fill-transition), var(--stroke-transition);
}

.footer__community-link:hover .footer__community-link-img path {
  fill: var(--white-color);
}

.twitter-link:hover .footer__community-link-img path {
  fill: none;
  stroke: var(--white-color);
}

.footer__links-descr {
  margin-bottom: 25px;
}

.footer__link {
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.footer__link:hover {
  color: var(--white-color);
}

.footer__link + .footer__link {
  margin-top: 20px;
}

.footer__form-legend {
  margin-bottom: 20px;
  max-width: 330px;
  text-transform: none;
}

.footer__copy {
  font-size: 12px;
  line-height: 110%;
}

.promo__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
}

.promo__descr {
  margin-bottom: 30px;
}

.promo__start {
  max-width: 230px;
}

.promo__statistic {
  margin-top: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.promo__statistic-item {
  max-width: 150px;
  width: 100%;
}

.statistic-item__total {
  font-size: 28px;
}

.statistic-item__name {
  font-size: 24px;
}

.promo__img {
  border-radius: 22px 22px 0px 0px;
}

.promo__figcaption {
  padding: 22px 20px;
  background-color: var(--dark-grey-color);
  border-radius: 0px 0px 20px 20px;
}

.promo__img-author {
  position: relative;
  margin-top: 10px;
  padding-left: 36px;
  border-radius: 50%;
}

.promo__img-author::before {
  content: url(../img/animakid-min.svg);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.trending__title {
  margin-bottom: 10px;
}

.thending__descr {
  margin-bottom: 30px;
}

.collection {
  margin: 30px auto 0 auto;
  max-width: 330px;
  row-gap: 15px;
}


.collection__images {
  display: grid;
  grid-template-areas: "a a a" "b c d";
  row-gap: 15px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.collection__primary-img {
  grid-area: a;
}

.collection__img {
  grid-area: b;
}

.second-img {
  grid-area: c;
}

.collection__more-link {
  grid-area: d;
  padding: 16px;
  font-size: 22px;
}

.collection__info {
  row-gap: 10px;
}

.creators__title {
  margin-bottom: 10px;
}

.creator__view-btn {
  margin-left: auto;
  max-width: 248px;
  width: 100%;
}

.creators__cards {
  margin-top: 60px;
}

.creators__card {
  margin: 0 auto;
  position: relative;
  max-width: 240px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--dark-grey-color);
  -webkit-transition: var(--bg-transition);
  -o-transition: var(--bg-transition);
  transition: var(--bg-transition);
}



.creators__card:hover {
  background-color: var(--purple-color);
}

.creators__figure {
  row-gap: 20px;
}

.creators__figcaption {
  row-gap: 5px;
}

.creators__sales {
  color: var(--grey-color);
  text-align: center;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.creators__card:hover .creators__sales {
  color: var(--white-color);
}

.creators__sales-amount {
  color: var(--white-color);
}

.creators__number {
  position: absolute;
  top: 18px;
  left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--light-grey-color);
  background-color: var(--dark-color);
  -webkit-transition: color 0.3s linear, var(--bg-transition);
  -o-transition: color 0.3s linear, var(--bg-transition);
  transition: color 0.3s linear, var(--bg-transition);
}

.creators__card:hover .creators__number {
  color: var(--dark-color);
  background-color: var(--white-color);
}

.categories__title {
  margin-bottom: 60px;
}

.category {
  margin: 0 auto;
  max-width: 240px;
  width: 100%;
}

.category__images {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.category__img {
  -webkit-filter: blur(7.5px);
          filter: blur(7.5px);
  -webkit-transition: var(--filter-transition);
  -o-transition: var(--filter-transition);
  transition: var(--filter-transition);
}

.category__ico {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: var(--opacity-visiblity-transition);
  -o-transition: var(--opacity-visiblity-transition);
  transition: var(--opacity-visiblity-transition);
  opacity: 1;
  visibility: visible;
}

.category__link:hover .category__img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.category__link:hover .category__ico {
  opacity: 0;
  visibility: hidden;
}

.card-bottom {
  width: 100%;
  padding: 20px 30px 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--dark-grey-color);
  -webkit-transition: var(--bg-transition);
  -o-transition: var(--bg-transition);
  transition: var(--bg-transition);
}

.category__link:hover .card-bottom {
  background-color: var(--purple-color);
}

.new-nft__title {
  margin-bottom: 10px;
}

.new-nft__all-btn {
  margin-left: auto;
  max-width: 189px;
  width: 100%;
}

.new-nft__items {
  margin-top: 60px;
}

.new-nft__item {
  margin: 0 auto;
  max-width: 330px;
  width: 100%;
}

.new-nft__item-author {
  margin-top: 5px;
}

.new-nft__item-cost {
  margin-top: 25px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.new-nft__item-price,
.new-nft__item-highest-bid {
  row-gap: 8px;
  color: var(--grey-color);
  font-size: 12px;
  line-height: 110%;
  -webkit-transition: var(--color-transition);
  -o-transition: var(--color-transition);
  transition: var(--color-transition);
}

.new-nft__item-price-value,
.new-nft__item-highest-bid-value {
  color: var(--white-color);
}

.new-nft__item-link:hover .card-bottom {
  background-color: var(--purple-color);
}

.new-nft__item-link:hover .new-nft__item-price,
.new-nft__item-link:hover .new-nft__item-highest-bid {
  color: var(--white-color);
}

.auction-container {
  background: url("../img/auction-bg.jpg") 0 0/cover no-repeat;
  padding: 360px 115px 60px;
}

.auction__image-author {
  padding: 8px 18px;
  border-radius: 20px;
  background-color: var(--dark-grey-color);
  -webkit-transition: var(--bg-transition), var(--color-transition);
  -o-transition: var(--bg-transition), var(--color-transition);
  transition: var(--bg-transition), var(--color-transition);
}

.auction__image-author:hover {
  background-color: var(--white-color);
  color: var(--dark-color);
}

.auction__image-name {
  font-size: 51px;
  line-height: 110%;
}

.auction__timer {
  max-width: 295px;
  width: 100%;
  row-gap: 10px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(59, 59, 59, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.auction__timer-descr,
.auction__timer-item-name {
  font-size: 12px;
  line-height: 110%;
  text-transform: none;
}

.auction__timer-items {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.auction__timer-item {
  row-gap: 5px;
}

.auction__timer-item-value {
  font-size: 38px;
  line-height: 120%;
}

.stages__title {
  margin-bottom: 10px;
}

.stages__list {
  margin-top: 48px;
}

.work-stage {
  margin: 0 auto;
  max-width: 330px;
  width: 100%;
  height: 100%;
  background-color: var(--dark-grey-color);
  padding: 10px 30px 30px 30px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: var(--bg-transition);
  -o-transition: var(--bg-transition);
  transition: var(--bg-transition);
}

.work-stage:hover {
  background-color: #513d6b;
}

.work-stage__img {
  max-width: 250px;
  max-height: 250px;
}

.work-stage__figcaption {
  margin-top: 20px;
  row-gap: 10px;
  text-align: center;
}

.work-stage__descr {
  text-transform: none;
}

.subscribe-form {
  padding-top: 40px;
}

.subscribe-form__wrapper {
  background-color: var(--dark-grey-color);
  border-radius: 20px;
  padding: 60px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.subscribe-form__form {
  max-width: 425px;
  width: 100%;
}

.subscribe-form__legend {
  max-width: 345px;
}

.subscribe-form__descr {
  margin-top: 10px;
  margin-bottom: 40px;
}

.subscribe-form__input {
  padding-right: 223px;
}

.subscribe-form__subscribe-btn {
  max-width: 211px;
}

@media (min-width:1100px) {
  .container {
    max-width: 1080px;
  }

  .auction-container {
    max-width: 1310px;
    padding: 360px 65px 60px;
  }
}

@media (min-width: 1200px) {
  .header-container {
    max-width: 1209px;
  }
}

@media (max-width: 1099.99px) {
  .auction-container {
    background: none;
  }

  .auction {
    background: url("../img/auction-bg.jpg") 0 0/cover no-repeat;
  }

  .nav-list {
    -webkit-column-gap: 25px;
      -moz-column-gap: 25px;
            column-gap: 25px;
  }
}

@media (max-width: 990px) {
  .promo__img-wrapper {
    margin-top: 30px;
  }

  .promo__img {
    border-radius: 30px 30px 0px 0px;
  }

  .creator__view-btn,
  .new-nft__all-btn {
    margin-left: 0;
    margin-top: 20px;
  }

  .subscribe-form__form {
    max-width: none;
    width: 100%;
  }

  .subscribe-form__img {
    max-width: 579px;
    min-width: 316px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .auction-container {
    padding: 360px 15px 60px;
  }

  .subscribe-form__inner {
    row-gap: 20px;
  }

  .subscribe-form__input {
    padding-right: 20px;
  }

  .subscribe-form__subscribe-btn {
    position: static;
    max-width: none;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
  }

  .section-padding {
    padding: 70px 0;
}
}

@media (max-width: 576px) {
  .section-padding {
    padding: 50px 0;
  }

  .promo__title {
    font-size: 60px;
  }
}

@media (max-width: 500px) {
  .subscribe-form__img {
    min-width: 150px;
  }
}

@media (max-width: 450px) {
  .footer__form-inner {
    row-gap: 20px;
  }

  .footer__form-input {
    padding-right: 20px;
  }

  .footer__form-subscribe-btn {
    position: static;
    max-width: none;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
  }

  .section-padding {
    padding: 40px 0;
  }

  .promo__title {
    font-size: 52px;
  }

  .thending__descr {
    margin-bottom: 10px;
  }

  .new-nft__items,
  .creators__cards {
    margin-top: 35px;
  }

  .categories__title {
    margin-bottom: 40px;
  }

  .stages__list {
    margin-top: 40px;
  }

  .subscribe-form__wrapper {
    padding: 50px;
  }
}

